/* libre franklin fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700;900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* cheltenham font */
@font-face {
	font-family: "cheltenham-italic-700";
	src: url(font/cheltenham-italic-700.ttf);
}
/* tinos = imperial font */
@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: white;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*
?                <<<<<<<<<<<<<<< NAVBAR >>>>>>>>>>>>>>>
? <<<<<<<<<<<<<<<                                      >>>>>>>>>>>>>>>>>
 */
header {
	width: 100%;
	height: 43px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #ccc;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}
header .nav-content-wrapper {
	width: 1605px;
	height: 26px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 135px;
	padding: 4px 15px 2px;
}
/* 
?--------------------------------> Left
*/
header .nav-content-wrapper .top-left {
	width: fit-content;
	height: 26px;
	display: flex;
	justify-content: space-between;
}
header .top-left a[href="menu"] img {
	width: 17px;
	height: 17px;
	margin-right: 13px;
}
header .top-left a[href="search"] img {
	width: 17px;
	height: 17px;
	margin-right: 13px;
	margin-left: 13px;
}
#cosmos {
	color: black;
	font-family: "Libre Franklin", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	margin-left: 13px;
	text-decoration: none;
}
/* 
?--------------------------------> Center
*/
header .top-center a img {
	width: 195px;
	height: 26.48px;
}
/* 
?--------------------------------> Right
*/
header .top-right button {
	color: white;
	background-color: rgb(86, 123, 149);
	font-family: "Libre Franklin", sans-serif;
	font-weight: 700;
	font-size: 11px;
	line-height: 11px;
	border-radius: 3px;
	border-style: solid;
}
header .top-right button:hover {
	background-color: rgb(50, 104, 145);
}
header .top-right button:nth-child(1) {
	width: 119.25px;
	height: 32px;
}
header .top-right button:nth-child(2) {
	width: 63.41px;
	height: 32px;
}

/* ?<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#main {
	width: 1200px;
	display: flex;
	flex-direction: column;
}
/*
?                <<<<<<<<<<<<<<< Main >>>>>>>>>>>>>>>
? <<<<<<<<<<<<<<<                                      >>>>>>>>>>>>>>>>>
 */
img {
	width: 100%;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
}
/* 
?--------------------------------> Head of article
*/
#head-and-icons {
	width: 600px;
}
h1 {
	color: rgb(19, 19, 19);
	font-family: "cheltenham-italic-700";
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	padding-bottom: 20px;
	padding-top: 40px;
	border-bottom: 1px solid #ccc;
}
.icons {
	width: 285px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}
.icons > * {
	background-color: rgb(238, 238, 238);
	border-radius: 50%;
	border: 0;
}
.icons > *:hover {
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	border: 1px solid black;
}
.single-icon {
	width: 27px;
	height: 27px;
}
.single-icon img {
	width: 17px;
	height: 17px;
}
/* 
?--------------------------------> Articles
*/
article {
	width: 600px;
}
p {
	color: rgb(45, 45, 45);
	font-family: "Tinos", serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 15px;
}
li,
dd,
dt {
	font-family: "Libre Franklin", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	list-style: none;
}
h4 {
	color: rgb(45, 45, 45);
	font-family: "Tinos", serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
}
#first-image {
	width: 1200px;
	height: 675px;
	margin: 100px;
}
#second-image {
	width: 945px;
	height: 576px;
	margin: 100px;
}
#third-image {
	width: 720px;
	height: 481px;
	margin: 100px;
}
/* ?<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/*
?                <<<<<<<<<<<<<<< Footer >>>>>>>>>>>>>>>
? <<<<<<<<<<<<<<<                                      >>>>>>>>>>>>>>>>>
 */
footer {
	width: 1200px;
	height: 443px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
footer a {
	color: black;
	text-decoration: none;
	font-size: 14px;
}
/* 
?--------------------------------> Head of footer
*/
#footer-head {
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
	padding: 10px;
	height: 44px;
	border-top: 4px double black;
}
#footer-head img {
	width: 184px;
	height: 24px;
}
/* 
?--------------------------------> Main body
*/
#middle-footer {
	flex-basis: 100%;
	display: flex;
}
/* 
Todo -------------> main-footer
*/
#middle-footer .main-footer {
	display: flex;
	margin-top: 10px;
}
dl {
	width: 197px;
	height: 385px;
}
dt {
	width: 150px;
	height: 25px;
	font-weight: bold;
}
dd {
	width: 150px;
	height: 23px;
}
/* 
Todo -------------> side-footer
*/
#middle-footer .side-footer {
	padding-left: 15px;
	border-left: 1px solid gray;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 197px;
	height: 385px;
}
#middle-footer .side-footer .bold-links a {
	font-family: "Libre Franklin", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 15px;
	width: 197px;
	height: 23px;
	margin: 3px 0px;
	display: flex;
	flex-direction: column;
	display: inline-block;
}
#middle-footer .side-footer .bold-links a:nth-child(1) {
	font-weight: 600;
	font-size: 13px;
}
#middle-footer .side-footer .bold-links a img {
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

#middle-footer .side-footer .normal-links a {
	font-family: "Libre Franklin", sans-serif;
	font-size: 11px;
	width: 150px;
	height: 23px;
	margin: 3px 0px;
	display: flex;
	flex-direction: column;
}

/* 
?--------------------------------> Lower part of footer
*/
#lower-footer {
	flex-basis: 100%;
	width: 1200px;
	height: 66px;
	margin: 10px;
	padding: 10px;
	border-top: 1px solid black;
}
#lower-footer ul {
	display: flex;
	justify-content: space-between;
}
#lower-footer ul li a {
	font-size: 11px;
}

/* ?<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
