/* libre franklin fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700;900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* cheltenham font */
@font-face {
	font-family: "cheltenham-italic-700";
	src: url(font/cheltenham-italic-700.ttf);
}
/* tinos = imperial font */
@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
/* ?<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: white;
}
#cosmos {
	color: black;
	font-family: "Libre Franklin", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
}
button {
	color: white;
	background-color: rgb(71, 112, 137);
	/* background-color: rgb(34, 93, 132); hover */
	font-family: "Libre Franklin", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
}
h1 {
	color: rgb(19, 19, 19);
	font-family: "cheltenham-italic-700";
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
}

p {
	color: rgb(45, 45, 45);
	font-family: "Tinos", serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}
li {
	font-family: "Libre Franklin", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

/* ?<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ?<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Main >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
h4 {
	color: rgb(45, 45, 45);
	font-family: "Tinos", serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
}
/* ?<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
