/* libre franklin fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700;900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* cheltenham font */
@font-face {
	font-family: "cheltenham-italic-700";
	src: url(font/cheltenham-italic-700.ttf);
}
/* tinos = imperial font */
@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");

/*
?                <<<<<<<<<<<<<<< NAVBAR >>>>>>>>>>>>>>>
? <<<<<<<<<<<<<<<                                      >>>>>>>>>>>>>>>>>
 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: white;
	width: 100%;
	height: 100%;
	border: 10px solid greenyellow;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* 
?-------Header
*/
header {
	width: 100%;
	border: 4px solid purple;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#cosmos {
	color: black;
	font-family: "Libre Franklin", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
}
button {
	color: white;
	background-color: rgb(71, 112, 137);
	/* background-color: rgb(34, 93, 132); hover */
	font-family: "Libre Franklin", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
}

/* ?<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#except-nav {
	border: 10px solid red;
	width: 1200px;
	display: flex;
	flex-direction: column;
}
/*
?                <<<<<<<<<<<<<<< Main >>>>>>>>>>>>>>>
? <<<<<<<<<<<<<<<                                      >>>>>>>>>>>>>>>>>
 */
img {
	width: 100%;
}
main {
    border: 5px solid rgb(0, 174, 255);
	display: flex;
	flex-direction: column;
    align-items:center;
}
/* 
?-------> Head of article
*/
#head-and-icons{
    width: 600px;
    border: 5px solid palevioletred
}
h1 {
	color: rgb(19, 19, 19);
	font-family: "cheltenham-italic-700";
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	border: 5px solid orange;
}
/* 
?-------> Articles
*/
article {
	border: 5px solid rgb(17, 0, 255);
	width: 600px;
}
p {
	color: rgb(45, 45, 45);
	font-family: "Tinos", serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}
li {
	font-family: "Libre Franklin", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	list-style: none;
}
h4 {
	color: rgb(45, 45, 45);
	font-family: "Tinos", serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
}
/* ?<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/*
?                <<<<<<<<<<<<<<< Footer >>>>>>>>>>>>>>>
? <<<<<<<<<<<<<<<                                      >>>>>>>>>>>>>>>>>
 */
footer {
	border: 5px solid black;
	width: 100%
	display: flex;
	flex-wrap: wrap;
}
#footer-nav {
	flex-basis: 100%;
	padding: 10px;
}
#main-footer {
	flex-basis: 100%;
	display: flex;
	justify-content: space-between;
}
#discriptive-footer {
	flex-basis: 100%;
    padding: 10px;
}
#discriptive-footer ul{
    display: flex;

}

/* ?<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
