body {
	background-color: white;
}
button {
	color: white;
	background-color: rgb(71, 112, 137);
	/* background-color: rgb(34, 93, 132); hover */
}
h1 {
	color: rgb(19, 19, 19);
}
p {
	color: rgb(45, 45, 45);
}
